@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --snake-color: green;
  --food-color: red;
}

body {
  margin: 0;
  width: 100vw;
  heihgt: 100vh;
  /* transition: all 1s linear 1s; */
  /* position:relative;/ */
  /* position: relative; */
}

.image {
  width: 100vw;
  height: 100vh;
  background-image: url("img/Snake-Lander-Image.jpg");
  background-size: cover;
  z-index: 0;
}
.game-board {
  border: 1px solid;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  gap: 1px;
  background: inherit;
  background-color: inherit;
}

.cell {
  width: 30px;
  height: 30px;
}

.enter-game:hover {
  transform: scale(1.2);
}

.food {
  background-image: url("img/food-image.jpeg");
  mix-blend-mode: multiply;
  background-size: cover;
}

.snake {
  background-color: var(--snake-color);
  border-radius: 10px;
}

.try {
  animation: appear 300ms linear 10ms;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 1;
    transform: scale(0.25);
  }
  50% {
    opacity: 1;
    transform: scale(0.5);
  }
  75% {
    opacity: 1;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
