@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --snake-color: green;
  --food-color: red;
}

body {
  margin: 0;
  background: #000;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  /* transition: all 1s linear 1s; */
  /* position:relative;/ */
  /* position: relative; */
}

.game-board {
  border: 1px solid;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  gap: 1px;
  background: inherit;
  background-color: #f0f0f0;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: #fff;
}

.enter-game:hover {
  transform: scale(1.2);
}

.food {
  background-color: var(--food-color);
}

.snake {
  background-color: var(--snake-color);
}
.snake:first-child {
  border-radius: 10px;
}
.start-btn {
  position: fixed;
  animation: appear 1000ms linear 10ms;
  top: 40%;
  left: 37%;
}

@keyframes appear {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0);
  }
}
